.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

}


.navigation {
    text-align: center;
    margin: 4em;
    font-size: large;
    font-weight: bold
    
}

.navigation__link {
    padding: 0 3em 0 3em;
}


.allfish {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 75%;
    justify-content: space-between;
}



.fish_photo {
    height: 10rem;
    width: 12rem;

}
.fishname {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


.fish_tips{
    flex-basis: 20%
    
}

.bordered{

    border: 5px solid black
}

.tips_list{
    
    
}
